# Data Science Tools and Ecosystem

### Some of the popular languages that Data Scientists use are:

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- Provide examples of arithmetic expressions.

## In this notebook, Data Science Tools and Ecosystem are summarized.

- R
- Python
- SQL
- C++

### Some of the commonly used libraries used by Data Scientists include:

- pandas
- Matplotlib
- TensorFlow
- Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter|
|Apache Zeppelin|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [51]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

### This will convert 200 minutes to hours by diving by 60

In [66]:
200/60

3.3333333333333335

## Autor: Lina Santa.